obj/Debug/net8.0/Bored.AssemblyInfo.cs
obj/Debug/net8.0/Bored.AssemblyInfoInputs.cache
obj/Debug/net8.0/Bored.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Bored.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Bored.dll
obj/Debug/net8.0/Bored.pdb
obj/Debug/net8.0/Bored.sourcelink.json
obj/Debug/net8.0/ref/Bored.dll
obj/Debug/net8.0/refint/Bored.dll
obj/Debug/net8.0/project.razor.vscode.bin

.fake
.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/*
